.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    /* width: 12em; */
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  
.modal_action {
  background-color: white;
  color: #80C4E9;
  border-radius: 0.5em !important;
  font-weight: 600;
  padding: 0.3em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #80C4E9;
  box-shadow: 0 0 0 0 #80C4E9;
}

.modal_action:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #80C4E9;
};

.modal_action:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #80C4E9;
};